.about {
}
.about__title {
  font-family: $Oswald;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #111111;
}
.about__list {
}
.about__item {
  font-family: $Arial;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #444444;
}
.about__item--1 {
}
.about__item--2 {
}
.about__item--3 {
}
.about__item--4 {
}
