.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  margin: 14px 0 28px 0;
  padding: 0 0 0 20px;

  font-family: $Oswald;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #111111;
}

.catalog__list {
  border-top: 1px solid #ededed;
  margin-bottom: 42px;
}

.catalog__show-all {
  padding: 27px 20px 25px 20px;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 708px;
  }

  .catalog__title {
    margin: 55px 0 165px 0;
    padding: 0 0 0 0;

    font-size: 60px;
    line-height: 1;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: none;
  }

  .catalog__list > li {
    margin: 0 0 139px 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
    margin-top: 77px;
  }

  .catalog__title {
    margin: -3px 0 165px;
  }

  .catalog__list {
    justify-content: flex-start;
  }

  .catalog__list > li {
    margin: 0 80px 142px 0;
  }

  .catalog__list > li:nth-of-type(4n) {
    margin: 0 0 142px 0;
  }
}
