.catalog {
  width: 320px;
  margin: 0 auto;
  padding: 0 0 30px;
}

.catalog__title {
  margin-bottom: 35px;
  padding: 0 0 0 20px;

  font-family: $Oswald;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #111111;
}

.catalog__list {
}

.catalog__show-all {
  padding: 27px 20px 25px 20px;
}

.catalog__more {
}

.catalog__order-all {
  display: block;
  min-height: 289px;

  font-family: Arial;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;

  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 708px;
  }

  .catalog__title {
    padding: 0 0 0 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__list > li {
    margin: 0 0 50px 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1220px;
  }

  .catalog__list {
    justify-content: flex-start;
  }

  .catalog__list > li {
    margin: 0 80px 142px 0;
  }

  .catalog__list > li:nth-of-type(4n) {
    margin: 0 0 142px 0;
  }
}
