.contacts {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px 20px 20px;
}

.contacts--bg-wite {
  background-color: #ffffff;
}

.contacts__text,
.contacts__address {
  width: 50%;
}

.contacts__text {
  margin: 0;

  font-family: $Oswald;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-family: $Arial;
  font-size: 14px;
  font-style: normal;
  line-height: 1.43;
  text-align: left;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 60px 70px;
  }

  .contacts__text,
  .contacts__address {
    width: 154px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 570px;
    padding: 70px 75px 60px 75px;
  }
}
