.contacts {
  display: flex;
  justify-content: space-between;
  padding: 27px 22px 28px 19px;
}

.contacts--bg-wite {
  background-color: #ffffff;
}

.contacts__text,
.contacts__address {
  width: 50%;
}

.contacts__text {
  margin: 0;

  font-family: $Oswald;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  font-family: $Arial;
  font-size: 14px;
  font-style: normal;
  line-height: 1.43;
  text-align: left;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 66px 73px 60px 70px;
  }

  .contacts__text {
    width: 154px;

    font-size: 20px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 164px;
    margin: -4px 0 -3px;

    font-size: 16px;
    line-height: 1.25;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 570px;
    padding: 70px 75px 60px 75px;

    background-color: #ffffff;
  }
}
