.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 18px 0;
}

.copyright__link {
  display: block;
}

.copyright__link:last-of-type {
  margin-right: -5px;
}

.copyright__text {
  font-family: $arial;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #444444;

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  display: block;
  width: 40px;
  height: 40px;

  color: #666666;

  &:hover {
    color: $leaf;
  }

  &:active {
    color: $leaf;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0 0 0 0;
  }

  .copyright__link {
    margin: 0 0 0 16px;
  }

  .copyright__link:last-of-type {
    margin-right: auto;
  }
}
