.goods {
}
.goods__image-link {
}
.goods__image {
}
.goods__text-container {
}
.goods__table {
}
.goods__title {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  color: #111111;
}

.goods__feature {
  font-family: $Arial;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #444444;
}

.goods__value {
  font-family: $Arial;
  font-size: 12px;
  line-height: 1.33;
  text-align: right;
  color: #444444;
}

.goods__order {
}
