.goods {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #ededed;
  padding: 0 20px 24px 20px;
}

.goods__image-link {
  display: block;
  width: 140px;
}

.goods__image {
  display: block;
}

.goods__table {
  width: 140px;
  border-collapse: collapse;
}

.goods__title {
  padding: 20px 65px 14px 0;

  font-family: $oswald;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.goods__feature {
  font-family: $arial;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #444444;
}

.goods__value {
  font-family: $arial;
  font-size: 12px;
  line-height: 1.33;
  text-align: right;
  color: #444444;
}

.goods__order {
  width: 100%;
  padding: 10px 0;

  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: $tablet-width) {
  .goods {
    position: relative;

    flex-direction: column;
    width: 324px;
    padding: 143px 38px 40px 38px;

    background-color: #f2f2f2;
  }

  .goods__title {
    padding: 20px 55px 22px;

    font-size: 20px;
    line-height: 1;

    text-align: center;
  }

  .goods--show-all {
    border: 2px solid #f2f2f2;

    background-color: #ffffff;
  }

  .goods__image-link {
    position: absolute;
    bottom: 303px;
    left: 50%;
    transform: translateX(-50%);

    width: 324px;
    align-self: center;
  }

  .goods__image {
    width: 100%;
    height: auto;
  }

  // .goods__image--small {
  //   width: 324px;
  //   height: 174px;
  // }

  // .goods__image--big {
  //   width: 324px;
  //   height: 208px;
  // }

  .goods__table {
    width: 100%;
    margin-bottom: 33px;
  }

  .goods__feature,
  .goods__value {
    padding: 7px 0;
    border-bottom: 1px solid #cdcdcd;

    font-size: 16px;
    line-height: 1;
  }
}

@media (min-width: $desktop-width) {
  .goods {
    width: 245px;
  }

  .goods__title {
    padding: 20px 15px 22px;
  }

  .goods__image-link {
    width: 245px;
  }
}
