.page-header {
  width: 320px;
  padding: 11px 0 0 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 708px;
    padding: 24px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: auto;
    margin: 0 0 75px 0;
    padding-top: 53px;
  }

  #index .page-header {
    background: linear-gradient(to right, #ffffff 50%, #68b738 50%);
    background-image: url(../img/index-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: right top;
  }
}
