.program {
  width: 320px;
  margin: 0 auto;
}

.program__title {
  font-family: $Oswald;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #111111;
}

.program__lead {
  font-family: $Oswald;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.program__form {
}

@media (min-width: $tablet-width) {
  .program {
    width: $tablet-width;
  }

  .program__title {
    padding: 0 70px 0 30px;
  }

  .program__lead {
    padding: 0 70px 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: $desktop-width;
  }

  .program__title {
    padding: 0 110px 0 110px;
  }

  .program__lead {
    padding: 0 110px 0 110px;
  }
}
