.program {
}

.program__title {
  font-family: $Oswald;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: #111111;
}

.program__lead {
  font-family: $Oswald;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.program__form {
}
