.show-all {
}
.show-all__plus-sign {
}
.show-all__lead {
  display: block;
  margin-bottom: 10px;

  font-family: $Oswald;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  color: #111111;
}

.show-all__legend {
  margin-bottom: 20px;

  font-family: $Arial;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #444444;
}

.show-all__link {
  width: 100%;
}
