.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0 16px 0;
}

.socials__item + .socials__item {
  margin: 0 0 0 33px;
}

.socials__link {
  display: block;
  width: 22px;
  // height: 19px;

  color: #666666;

  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    color: $leaf;
  }

  &:active {
    color: $leaf;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .socials__item + .socials__item {
    margin: 0 0 0 26px;
  }

  .socials__link {
    width: auto;
  }

  .socials__icon--vk {
    width: 30px;
    height: 18px;
  }

  .socials__icon--fb {
    width: 23px;
    height: 27px;
  }

  .socials__icon--insta {
    width: 22px;
    height: 22px;
  }
}
