body {
  min-width: 320px;
  border: 1px solid #cccccc;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid #cccccc;
}

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1440px;
  }
}

@import "var.scss";
@import "fonts.scss";
@import "page-header.scss";
@import "hamburger.scss";
@import "menu.scss";
@import "intro.scss";
@import "button.scss";
@import "features.scss";
@import "about.scss";
@import "example.scss";
@import "page-footer.scss";
@import "contacts.scss";
@import "socials.scss";
@import "copyright.scss";
@import "catalog.scss";
@import "goods.scss";
@import "show-all.scss";
@import "more-goods.scss";
@import "program.scss";
@import "form.scss";
